{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-warning">
                    <h3>Important: Session Rules</h3>
                </div>
                <div class="card-body">
                    <h4>You are about to join: {{ session.title }}</h4>
                    <p>Please read the following rules before proceeding:</p>
                    
                    <ul class="list-group mb-4">
                        <li class="list-group-item">Once you enter the session, you cannot go back to the home page</li>
                        <li class="list-group-item">The session will automatically end after 15 minutes</li>
                        <li class="list-group-item">Your work will be saved automatically</li>
                        <li class="list-group-item">Please do not refresh the page or navigate away</li>
                    </ul>
                    
                    <p>Are you ready to begin?</p>
                    
                    <form action="{% url 'join_session' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="access_code" value="{{ access_code }}">
                        <input type="hidden" name="confirm" value="true">
                        <button type="submit" class="btn btn-success">Yes, I'm Ready</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">No, Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 