<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Code Editor</title>
	{% load static %}
    <script src="{% static 'js/whiteboard.js' %}"></script>
	<script src="{% static 'js/room.js' %}"></script>
</head>
<body>
    <h1>Real-Time Code Editor</h1>
    <textarea id="editor" onkeyup="onTextChange()" rows="10" cols="50"></textarea>
	<canvas id="whiteboard" width="800" height="500" style="border:1px solid black;"></canvas>
</body>
</html>
