{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Shared Whiteboard</title>
	<script src="{% static 'js/whiteboard.js' %}"></script>
    <script>
        const socket = new WebSocket("ws://localhost:8000/ws/"); // TODO: make this url configurable (not localhost)
        let canvas, ctx;
		let lines;
		let currentLine;

        window.onload = function () {
			wb = new Whiteboard("whiteboard", onDraw);
        };

		function onDraw(buff, opt) {
			wb.draw(buff, opt);

			socket.send(JSON.stringify({ type: "wb_buffer", data: wb.getCanvasData() }));
		}

        // receive canvas data from websockets
		socket.onmessage = function(event) {
			const data = JSON.parse(event.data);
            
			if (data.type != "wb_buffer") {
				return;
			}

			wb.setCanvasData(data.data);
        };
    </script>
</head>
<body>
    <h1>Shared Whiteboard</h1>
    <canvas id="whiteboard" width="800" height="500" style="border:1px solid black;"></canvas>
</body>
</html>
